# Virtual Environment
.venv/
venv/
*.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE specific
.vscode/
.idea/

# PyInstaller artifacts
build/
dist/
*.spec

# Log files
*.log
orionis_auto_sort.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
